@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');


:root{
    --font-base: 'Cormorant Upright', serif;
    --color-black: #0C0C0C;
    --color-golden: #DCCA87;
    --color-crimson: #F5EFDB;
    --color-gray: #545454;

}
.tree {
    background-color: var(--color-black);
    height: 100%;
    padding: 2rem 0.5rem;
    font-family: var(--font-base);
    font-size: 23px;
    color: #F5EFDB;
    display: flex;
    flex-direction: column;
    
}
.tree ul {
    list-style: none;
}

input {
    border:solid var(--color-gray);
    color: var(--color-crimson);
    background: var(--color-black);
    
}

.node {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.node button{
    margin: 0.3rem 1rem;
    background: var(--color-black);
    border: none;
}
.tree li:hover{
    
    color: var(--color-golden);
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.menu select{
    background: inherit;
    color: inherit;
    border: none;
    align-items: center;
}


.menu select:hover{
    color: var(--color-golden);
}

option {
    background: var(--color-black);
}